
body, #root {
  padding-bottom: 20px; /* same height as player */
}

@keyframes marquee {
  0% {
    transform: translateX(100%); /* start hidden on the right */
    opacity: 0;
  }
  10% {
    opacity: 1; /* fade in after ~1s */
  }
  100% {
    transform: translateX(-100%); /* move fully to the left */
    opacity: 1;
  }
}

.animate-marquee {
  display: inline-block;
  min-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: marquee 9s linear infinite; /* longer for smoother effect */
}

